* {
	box-sizing: border-box;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

section {
	display: block;
	position: relative;
}

.main .background-image {
	background-image: url(../images/background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.main .overlay {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.section-home {
	display: block;
	height: 100%;
	width: 100%;
	text-align: center;
}

.welcome-content {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 500px;
}

.welcome-content img {
	width: 108px;
	height: 71px;
}

.welcome-content h1 {
	color: white;
	font-size: 45px;
	font-weight: 300;
	margin: 0;
}

.welcome-content h4 {
	color: white;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.welcome-content p {
	color: white;
	font-size: 17x;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.slider {
	display : block;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

.slider i {
	color : white;
}

.section-time {
	background-color: #eeeeee;
	color: #493c4c;
	padding: 100px 0;
	text-align: center;
	text-transform: uppercase;
}

.section-time h3 {
	margin: 0;
	font-size: 30px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.section-time h3 i {
	animation: spin 4s linear infinite;
}


.time-unit {
	font-weight: 100;
	width:200px;
	text-align: center;
	display: inline-block;
	padding: 10px;
	font-size: 100px;
	color: #493c4c;
}
.time {
	text-align: center;
	width: 100%;
	margin: 10px 0;
}

.time span {
	font-size: 18px;
	color: #493c4c;
}

.time-unit + .time-unit {
	border-left: 1px solid #a8a8a8;
}

#mc_embed_signup {
	padding: 0;
	font-size:18px;
	font-family: Helvetica,Arial,sans-serif;
	margin-top: 20px;
}

#mc_embed_signup form {
	display: inline-block;
	border: 5px solid rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	padding: 0;
}

#mc_embed_signup input.email {
	background-color: transparent;
	width: 600px;
	height: 40px;
	border: 0px;
	padding-left: 10px;
}

#mc_embed_signup input.text {

} 


#mc_embed_signup input.button {
	height: 40px;
	border-left: 5px solid rgba(255, 255, 255, 0.4);
	background-color: transparent;
	padding: 0 25px;
	font-size: 16px;
	font-weight: 500;
}
#mc_embed_signup input.button:hover {
	background-color: white;
	color: black;
} 

.section-notification {
	text-align: center;
	color: white;
	padding: 100px 0;
}

.section-notification p {
	margin: 0;
	font-weight: 100;
	font-size: 18px;
	line-height: 26px;
}

.section-notification i {
	margin-bottom: 10px;
	font-size: 30px;
} 