* {
	box-sizing: border-box;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	
}

.background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url(../images/background.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.section-home {
	display: block;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.welcome-content {
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 500px;
}
.welcome-content img {
	width: 108px;
	height: 71px;
}

.welcome-content h1 {
	color: white;
	font-size: 45px;
	font-weight: 300;
	margin: 0;
	font-family: 'Lato', sans-serif;

}
.welcome-content h4 {
	color: white;
	font-size: 12px;
	font-style: bold;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	margin: 0;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.welcome-content p {
	color: white;
	font-size: 17x;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
