body {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 0 150px;
}

.container {
	width: 980px;
	margin: 0 auto;
}

.logo {
    display: inline-block;
    padding-right: 150px;
    float: left;
}

.menues {
    padding: 10px;
    display: inline-block;
    float: right;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0 10px;
}

.menu a {
    color: black;
    font-size: 16px;
}

.menu a:hover {
    color: #fcd307;
}

.menu i {
    font-size: 20px;
    padding: 0 5px;
}

header h1 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
}

.image-section {
    padding-left: 150px;
    clear: both;
    background-image: url("https://static.wixstatic.com/media/a38016_9bd9d7a9ccb44689ba0771fd8e44d08e.jpg/v1/fill/w_1288,h_600,al_c,q_85,usm_0.66_1.00_0.01/a38016_9bd9d7a9ccb44689ba0771fd8e44d08e.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.image-section .container {
	height: 100%;
}

.image-content {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.image-content h1 {
    font-size: 45px;
    color: white;
    margin: 0;
}

.image-content h1 i {
    color: #fcd307;
}

.image-content h5 {
    font-size: 22px;
    color: white;
    margin: 0;
    font-style: italic;
}

.service-section {
    padding: 100px 0;
    background-color: #fcd307;
    text-align: center;
}

.service-wrapper {
    display: inline-block
}

.service-contain {
    display: inline-block;
}

.service-contain + .service-contain {
    margin-left: 50px;
}

.service-image {
    display: table-cell;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
}

.service-image img {
    height: 70px;
}

.service-name {
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

.section-about {
    font-family: 'Droid Serif', serif;
    padding: 50px 150px;
    background-color: #ffffff;
}

.section-about h1 {
    font-size: 45px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.section-about h5 {
    font-size: 16px;
    color: #000000;
    margin: 0 50px;
}

.team-wrapper {
    text-align: center;
    margin: 50px 0;
}

.team-contain {
    display: inline-block;
}

.team-contain + .team-contain {
    margin-left: 20px;
}

.team-image {
    width: 175px;
    height: 175px;
}

.team-image img {
    width: 100%;
}

.team-name {
    margin-top: 20px;
}

.team-name h6 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
}

.name {
    color: #4d4a4a;
}

.post {
    color: #858585;
}

.about-note p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
    vertical-align: baseline;
}

.section-contact {
    background-color: rgb(33, 33, 33);
    font-family: 'Droid Serif', serif;
    padding: 50px 150px;
}

.section-contact h1 {
    font-size: 45px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
}

.section-contact h5 {
    font-size: 16px;
    color: #ffffff;
    margin: 0 50px;
    font-style: italic;
}

.contact-wrapper {
   
    margin-top: 50px;
}

.left-wrapper {
    display: inline-block;
    margin-right: 50px;
}

.right-wrapper {
    display: inline-block;
    margin-left: 50px;
   
}

.right-wrapper h6{
	color: #ffffff;
	font-size: 16px;
	margin: 0;
	margin-bottom: 20px;
}



.contact a {
    color: #ffffff;
}

.contact td {
    padding: 0px 10px 15px 0px;
}

.contact td a {
    display: block;
    margin-bottom: 5px;
}

address {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    margin: 20px 0;
}

.registration {
    padding: 50px 150px;
    background-color: #ffffff;
}

.registration h1 {
    font-size: 45px;
    color: #000000;
    margin: 0;
    margin-bottom: 10px;
}

.registration h5 {
    font-size: 16px;
    color: #000000;
    margin: 0 50px;
}

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    padding: 0;
}

#mc_embed_signup .mc-field-group {
	width: 100%;
	max-width: 400px;
	min-height: auto;
	margin: 0 auto;
	padding-bottom: 30px;
}

#mc_embed_signup form {
    background-color: transparent;
    padding: t0px 150px;
    margin-top: 20px;
    text-align: center;
}

#mc_embed_signup input {
    background-color: transparent;
    height: 42px;
}

#mc_embed_signup .button {
    background-color: #fcd307;
    border: 1px solid #fcd307;
    border: none;
    color: #000000;
}

#mc_embed_signup .size1of2 {
    float: none;
    width: 100%;
    display: block;
    margin-right: 0;
}


/*#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error,
#mc_embed_signup .mc-field-group input {
	  border: 0;
	  color: #555555;
	  width: 100%;
	  background-color: transparent;
	  border: 0;
	  border-bottom: 1px solid #555555;
	  font-size: 18px;
	  fonr-weight: 100;
	  padding: 10px 0;
	  outline: 0;
	  text-align: center;



}*/

.testimonial {
    background-color: #fcd307;
    height: 250px;
}



.btn {
    margin-right: 15px;
    transition-duration: 0.8s;
}
.btn-round {
    display: inline-block;
    height: 45px;
    padding: 0;
    width: 45px;
    text-align: center;
}

.btn-round i {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #f8f8f8;
    display: table-cell;
    font-size: 20px;
    height: 45px;
    line-height: 1;
    margin: 0 10px;
    transition: all 200ms ease-in 0s;
    vertical-align: middle;
    width: 45px;
}

 .right-wrapper .btn .fa-twitter {
	background-color: #70c2e9;
}

 .right-wrapper .btn .fa-facebook {
	background-color: #677fb5;
}
