* {
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
}

a {
	color: #e28e76;
    text-decoration: none;
}

header {
    padding: 0 50px;
    background-color: #ede7db;
}



.clear {
	clear: both;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.heading {
	color: #555555;
}

.text {
	color: #717171;
}

@media (max-width: 980px) {
	.container {
		width: 100%;
	}


}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.75);
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


.modal-window {
    background:#fafaf8;
    min-width: 300px;
    width: 35%;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.cross-btn {
    float: right;
    position: relative;
    top: 2px;
    color: #605d57;
    font-size: 16px;
    cursor: pointer;
}
.modal-header {
    background-color: #ede7db;
    padding: 20px;
    text-align: center;
    position: relative;
}

.modal-window h1 {
    font-size: 18px;
    color: #605d57;
    margin: 0;
    font-weight: 100;
    display: inline-block;
}

.modal .subscribe-form-wrapper {
	padding: 30px;
	text-align: center;
	width: 100%;
}

.modal form {
	margin: 0 auto;
	max-width: 400px;
}


.head-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

@media (max-width: 600px) {
    .head-wrapper {
        flex-direction: column;
        text-align: center;
    }
     .head-wrapper .menues {
        width: 100%;
        text-align: center;
         flex: none;
    }

    .logo h1{
        margin-bottom: 0;
    }

    .menues .menu {
        margin: 0;
    }


}

.logo {
    display: inline-block;
    padding-right: 150px;
}

@media (max-width: 800px) {
    .logo {
        padding-right: 0;
    }
}

@media (max-width: 480px) {
	header {
        padding: 0;
    }

    .logo {
		padding-right: 0;
        width: 100%;
	}

    .menues {
        width: 100%;
    }

    .menu li {
        padding: 0 5px;
    }
}

.logo div:nth-child(1) {
	color: #7eb097;
	line-height: 0.7;
}

.logo span:nth-child(2) {
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 6px;
}

.menues {
    padding: 10px 0;
    display: inline-block;
    flex: 1;
    text-align: right;
}

.menu {
    list-style: none;
    padding: 0;

}

.menu li {
    display: inline-block;
    padding: 0 10px;
}

@media (max-width: 400px) {
    .menu li {
        display: inline-block;
        padding: 0 5px;
    }

    .menu .head-icons {
        display: none;
    }
}

.menu a {
    color: #776c65;
    font-size: 16px;
}

.menu a:hover {
    color: #7eb097;
}

.menu i {
    font-size: 20px;
    padding: 0 5px;
}

header h1 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
}

.image-section {
    clear: both;
    height: 600px;
    position: relative;
    background-color: #2d526f;
}

@media (max-width: 480px) {
    body .image-section  {
        height: 320px;
    }

    .image-section .image-content h1 {
        font-size: 28px;
    } 

     .image-section .image-content h5 {
        font-size: 16px;
    } 
}



@media (min-width: 481px) and (max-width: 800px) {
    .image-section  {
        height: 500px;
    }

    .image-section .image-content h1 {
        font-size: 35px;
    } 

    .image-section .image-content h5 {
        font-size: 19px;
    } 
}





.image-section .bg-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.image-section .container {
	height: 100%;
}

.image-content {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 980px) {
    .image-content  {
        padding-left: 50px;
    }

    
}


.image-content h1 {
    font-size: 45px;
    color: white;
    margin: 0;
}

.image-content h1 i {
    color: #e34d91;
}

.image-content h5 {
    font-size: 22px;
    color: white;
    margin: 0;
    font-style: italic;
}

.service-section {
    padding: 100px 50px;
    background-color: #ffffff;
}

@media (max-width: 480px) {
	.service-section {
		padding: 20px;
	}
}

.service-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.service-contain {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-basis: 50%;
}

@media (max-width: 480px) {
	.service-contain {
		flex-direction: column;
        padding-bottom: 20px;
	}
}

.service-contain:nth-child(n+3) {
	margin-top: 60px;
}

.service-contain:nth-child(even) {
	padding-left: 30px;
}

@media (max-width: 980px) {
	.service-contain {
		flex-basis: 100%;
	}

	.service-contain:nth-child(n+2) {
		margin-top: 60px;
	}

	.service-contain:nth-child(even) {
		padding-left: 0;
	}
}

@media (max-width: 480px) {
	.service-contain:nth-child(n+2) {
		margin-top: 20px;
	}
}

.image-wrapper {
    display: inline-block;
}

@media (max-width: 480px) {
	.image-wrapper {
		margin: 0 auto;
	}
}

.service-image {
    display: table-cell;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}

.service-image img {
    height: 70px;
}

.one {
    background-color: #88b840;
}

.two {
    background-color: #f9c27f;
}

.three {
    background-color: #77b1bf;
}

.four {
    background-color: #aca090;
}

.five {
	background-color: #e28e76;
}

.six {
	background-color: #d5c04a;
}

.service-name {
	flex: 1;
    font-size: 14px;
    padding: 20px 0;
    padding-left: 15px;
}

.service-name h5 {
	margin: 0;
    font-size: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.service-name p {
    font-size: 12px;
    line-height: 1.5;
    color: #7c7c7c;
    text-align: justify;
    margin: 0;
}

@media (max-width: 480px) {
	.service-name {
		text-align: center;
	}
    .service-name h5 {
        font-size: 18px;
    }

	.service-name p {
		text-align: center;
        font-size: 14px;
	}
}




.section-about {
    font-family: 'Droid Serif', serif;
    padding: 50px 0;
    background-color: #ede7db;
}

@media (max-width: 980px) {
	.section-about {
		padding: 50px;
	}
}

section-about h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

.section-about h5 {
    font-size: 16px;
    margin: 0 50px;
}

@media (min-width: 481px) and (max-width: 600px) {
    .section-contact h1 {
    font-size: 36px;
    }

    .section-contact h5 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
	.section-about {
		padding: 20px;
	}

    .section-about h1 {
    font-size: 24px;
    }

    .section-about h5 {
        font-size: 14px;
    }
}



.section-team {
	font-family: 'Droid Serif', serif;
    padding: 50px 0;
    background-color: #ffffff;
}

@media (max-width: 980px) {
	.section-team {
		padding: 50px;
	}
}

@media (max-width: 480px) {
	.section-team {
		padding: 20px;
	}
}

.section-team h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

.section-team h5 {
    font-size: 16px;
    margin: 0 50px;
}
@media (min-width: 481px) and (max-width: 600px) {
    .section-team h1 {
    font-size: 36px;
    }

    .section-team h5 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section-team h1 {
    font-size: 24px;
    }

    .section-team h5 {
        font-size: 14px;
    }
}

.team-container {
    width: 100%;
    text-align: center;
}

.team-wrapper {
    text-align: center;
    margin: 50px auto 30px auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.team-contain {
    display: inline-block;
    flex-basis: 33%;
    margin-bottom: 20px;
}

@media (max-width: 640px) {
	.team-contain {
		flex-basis: 50%;
	}
}

@media (max-width: 420px) {
	.team-contain {
		flex-basis: 100%;
	}
}

.team-image {
	border-radius: 100%;
	overflow: hidden;
    width: 175px;
    height: 175px;
    margin: 0 auto;
}

.team-image img {
    width: 100%;
}

.team-name {
    margin-top: 20px;
}

.team-name h6 {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
}

.name a {
    color: #4d4a4a;
}

.name a i {
	color: #0077b5;
	font-weight: 100;
	padding-left: 7px;
}

.post {
    color: #858585;
}

.about-note p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: justify;
    vertical-align: baseline;
}

.section-contact {
    background-color: #74626f;
    font-family: 'Droid Serif', serif;
    padding: 50px 150px;
}

@media (max-width: 980px) {
	.section-contact {
		padding: 50px;
	}
}

@media (max-width: 480px) {
	.section-contact {
		padding: 20px;
	}
}

.section-contact h1 {
    font-size: 45px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 10px;
}

.section-contact h5 {
    font-size: 16px;
    color: #ffffff;
    margin: 0 50px;
    font-style: italic;
}



@media (min-width: 481px) and (max-width: 600px) {
    .section-contact h1 {
    font-size: 36px;
    }

    .section-contact h5 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section-contact h1 {
    font-size: 24px;
    }

    .section-contact h5 {
        font-size: 14px;
    }
}


.contact-wrapper {  
    margin-top: 50px;
}

.contact-wrapper .left-wrapper {
    display: inline-block;
}

@media (min-width: 768px) {
	.contact-wrapper .right-wrapper {
		display: inline-block;
		float: right;
		margin-left: 50px;
	}
}

.right-wrapper h6 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 20px;
}

.contact a {
    color: #ffffff;
}

.contact td {
    padding: 0px 10px 15px 0px;
}

.contact td a {
    display: block;
    margin-bottom: 5px;
}

address {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    margin: 20px 0;
}

.section-registration {
    padding: 50px 150px;
    background-color: #ffffff;
}

.error-box {
    background-color: #f2dede;
    color: #a94442;
    font-size: 14px;
    border: 1px solid #ebccd1;
    padding: 15px 20px;
    margin-bottom: 30px;
    text-align: left;
    border-radius: 4px;
    display: none;
}

#errorBox i {
    margin-right: 10px;
}

@media (max-width: 980px) {
	.section-registration {
		padding: 50px;
	}
}

@media (max-width: 480px) {
	.section-registration {
		padding: 20px;
	}
}

.section-registration h1 {
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
}

.section-registration h5 {
    font-size: 16px;
    margin: 0 50px;
}

@media (min-width: 481px) and (max-width: 600px) {
    .section-contact h1 {
    font-size: 36px;
    }

    .section-contact h5 {
        font-size: 14px;
    }
}



@media (max-width: 480px) {
    .section-registration h1 {
    font-size: 24px;
    }

    .section-registration h5 {
        font-size: 14px;
    }
}


.section-registration .registration-form-wrapper {
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.section-registration .registration-successful {
    text-align: center;
    display: none;
}

.section-registration .registration-successful p:nth-child(1) {
    font-size: 34px;
}

.section-registration .registration-successful p:nth-child(2) {
    font-size: 22px;
}

.section-registration form {
	margin: 0 auto;
	max-width: 400px;
}

.field-group {
	width: 100%;
	padding-bottom: 30px;
}

form input,
form select {
	border: 1px solid #ABB0B2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	height: 42px;
	width: 100%;
    background-color: #ffffff;
}
 select , input{
    color: #767676;
 }
}

form input:focus {
	border-color:#333;
}

form .button {
	background-color: #7eb097;
	border: none;
	color: #ffffff;
	font-weight: normal;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	width: auto;
}

.testimonial {
    font-family: 'Droid Serif', serif;
    background-color: #ede7db;
    padding: 50px 0;
    position: relative;
    height: 250px;
    overflow: hidden;
}

.testimonial .container {
    height: 100%;
    text-align: center;
    position: relative;
    white-space: nowrap;
}

.left-slide {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: rgba(33,33,33,.05);
    text-align: center;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial i {
    font-size: 24px;
    color: #ffffff;
    opacity: 0.6;
}
.right-slide {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: rgba(33,33,33,.05);
    text-align: center;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-wrapper {
    padding: 0 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: left 1.5s;
    white-space: normal;
    width: 100%;
}

.text-wrapper + .text-wrapper {
    opacity: 0;
}

.text-para {
    color: #555555;
    font-weight: 300;
}

.written {
    text-align: right;
    margin-top: 75px;

}

.written p {
    font-size: 12px;
    line-height: 0.5;
    color: #555555;
}




.btn {
    margin-right: 15px;
    transition-duration: 0.8s;
}
.btn-round {
    display: inline-block;
    height: 45px;
    padding: 0;
    width: 45px;
    text-align: center;
}

.btn-round i {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #f8f8f8;
    display: table-cell;
    font-size: 20px;
    height: 45px;
    line-height: 1;
    margin: 0 10px;
    transition: all 200ms ease-in 0s;
    vertical-align: middle;
    width: 45px;
}

 .right-wrapper .btn .fa-twitter {
	background-color: #70c2e9;
}

 .right-wrapper .btn .fa-facebook {
	background-color: #677fb5;
}
